<footer class="bg-grey text-white text-xs max-md:py-4">
    <div class="container mx-auto">
        <div class="grid items-center md:grid-cols-2 lg:mx-12 xl:mx-20 my-8">
            <p class="text-center md:text-left">
                &copy; {new Date().getFullYear()} Infoloom
            </p>
            <div class="text-center md:text-right">
                <a
                    href="https://github.com/pedrofp4444/"
                    target="_blank"
                    class="hover:text-green-400 cursor-pointer hover:transition-discrete duration-300"
                >
                    Made by Pedro Pereira
                </a>
            </div>
        </div>
    </div>
</footer>
