---
import DocsLayout from "../../../layouts/DocsLayout.astro";

const toc = [{ id: "Contactos", title: "Contactos", level: 2 }];
---

<DocsLayout
    title="Contactos"
    description="Documentação sobre contactos"
    toc={toc}
>
    <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">Contactos</h1>
    <p class="text-lg text-muted-foreground mt-2">Em desenvolvimento.</p>
</DocsLayout>
