---
import DocsLayout from "../../../layouts/DocsLayout.astro";

const toc = [{ id: "Favoritas", title: "Favoritas", level: 2 }];
---

<DocsLayout
    title="Favoritas"
    description="Documentação sobre unidades favoritas"
    toc={toc}
>
    <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">Favoritas</h1>
    <p class="text-lg text-muted-foreground mt-2">Em desenvolvimento.</p>
</DocsLayout>
