---
import DocsLayout from "../../../layouts/DocsLayout.astro";

const toc = [{ id: "Formulários", title: "Formulários", level: 2 }];
---

<DocsLayout
    title="Formulários"
    description="Documentação sobre formulários"
    toc={toc}
>
    <h1 class="scroll-m-20 text-4xl font-bold tracking-tight">Formulários</h1>
    <p class="text-lg text-muted-foreground mt-2">Em desenvolvimento.</p>
</DocsLayout>
