---
export const prerender = false;

import MainLayout from "../../layouts/MainLayout.astro";
import FormularioPage from "@/components/FormularioPage.vue";

const { slug } = Astro.params;
---

<MainLayout>
    <main class="container mx-auto px-4 sm:px-6 lg:px-8 py-6 sm:py-8">
        <FormularioPage client:only="vue" slug={slug} />
    </main>
</MainLayout>
